button.loading{
    color: transparent;
    position: relative;
    pointer-events: none;
    font-size: 0 !important;
    &:after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #fff;
        border-top-color: #000;
        animation: btnSpinner 0.6s linear infinite;
    }
}
