$heading_font: "Libre Baskerville", serif;
$futura_bt : "FuturaBT";
$futura_fonts: 'Futura,sans-serif';
$font_FreightDisp : "FreightDisp";
$futura_book: "Futura Book";
$antroVectra_font: "antrovectra-er";
$font_futura_disp_medium: "Freight Disp Medium";
$antro_vectra_fonts : var(--antro_vectra_fonts);
$antro_vectra_bolder_fonts : var(--antro_vectra_bolder_fonts);
$color_black: #000;
$color_white: #fff;
$color_white-shade-1: #fefefe;
$gray-shade:#908e8e;
$color_red:#f82424;
$color_blue : #0400bf;

// color variables
$color_vista_white: #FCF9F8;
$color_grey: #737373;
$color_background: #f2f2f2;
$color_lightpink: #f9ebe3;
$color_lightpink2: #F3E9E2;
$color_darkpink: #B66C6D;
$color_fulldarkpink:#B04A5A;
$color_update_btn:#E0B39E;
$color_activeBlue: #091f2c;
$color_navy: #00263A;
$color_sky: #6AD1E3;
$color_beige: #f7ebe4;
$color_dark_salmon: #c05353;
$color_darkish_purple: #8d2240;
$color_grey44: #707070;
$color_quick-silver: #A0A0A0;
$color_tusk: #B4E4EC;
$color_Concrete: #f3f3f3;

$color_sidecart: #00263A;
$color_sidecart_shipping: #091f2c;
$color_review_bg: #F4F4F4;
$quiz-bg-color: #F8F8F8;

$shop-look-color:#E0B39E;
$shop-look-hover-color:#F3E9E2;
$icon-bg-color: #D9D9D9;
$color-popup-txt: #c2c2c2;
$bg-color: #f0f0f0;
$border-bg-img: #DBDBDB;
$bg-title: #F6F6F6;
$color-seperator: #BFEBF3;

/* Essential Builder */
$link-color : #B14C59;
$color_darkpink_2: #E0B39E;
$add-to-cart : #00263A;
$sustain-bg : #F9EBE3;
$font-color: #091F2C;
$navy-color: #00263A;
$cream-color : #F9EBE3;
$button-disabled: #091F2C80;

/* Shop by look*/ 
$color_gray: #c4c4c4;
$color_darkgray: #ddd;
$color_lightgray: #E5E5E5;


/*  */ 
$Dawn_Pink: #F0E8E2;
$down_arrow: 'https://cdn.shopify.com/s/files/1/0114/0621/3220/files/down-arrow-svgrepo-com.svg?v=1675861310';
$Dark_blue: #00263a;

$Copper_Red: #C07450;
