#collection-page {
  .collection-page-container {
    // max-width: 1440px;
    margin: 50px auto 0;
    .collection-page-wrapper {
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 15px;

      .product-list {
        margin-bottom: 75px;
        &.collection-listings{
          border-bottom: 1px solid #000000;
          padding-bottom: 25px;
          @include mq('phone'){
            margin-bottom: 25px;
          }
          &.image-text-exist{
            border: none;
          }
          &:last-child{
            border: none;
          }
        }
        .product-list-ul {
          @include flexbox();
          @include flex-wrap(wrap);
          margin: 0 -15px;
          list-style: none;
          @include mq('phone'){
            margin: 0 -5px;
          }
          li.product-li {
            margin-bottom: 50px;
            @include mq('phone'){
              padding:  0 5px;
            }
          }
        }
        .collection-pagination{
          margin-bottom: 50px;
          .pagination{
            display: block;
            .icon-fallback-text{
              svg{
                max-width: 15px;
                fill: $color_navy;
              }
            }
            span{
              font-family: $futura_book;
              color: $color_navy;
              padding: 4px 6px;
              font-size: 18px;
              &.current{
                color: $color_darkpink;
              }
            }
          }
        }
        .collection-details {
          list-style: none;
          @include flexbox();
          @include flex-wrap(wrap);
          margin-bottom: 50px;
          li.li {
            padding: 0 15px;
            width: 50%;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            @include mq('phone'){
              width: 100%;
              padding: 0;
              margin-bottom: 25px;
              &.mobile-hide{
                display: none;
              }
            }
          }
        }
        .collection-title {
          font-size: 48px;
          font-family: $antro_vectra_fonts;
          line-height: 90px;
          margin-bottom: 15px;
          margin-bottom: 14px;
          width: 100%;
        }
        .collection-short-info {
          font-size: 18px;
          font-family: $futura_bt;
          margin-bottom: 15px;
          @include mq('phone'){
            margin-bottom: 50px;
          }
        }
        .collection-media-info {
          height: 100%;
          video {
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            height: auto;
            max-width: 100%;
          }
        }
        .collection-top-products {
          margin: 70px -15px 0;
          list-style: none;
          @include flex-wrap(wrap);
          @include flexbox();
          &.product-list-ul .product-li{
            margin-bottom: 0;
          }
          @include mq('phone'){
            margin: 0 -5px;
            > li[class^="col"] {
              padding: 0 5px
            }
          }
        }
        .simply-collection-product {
          @include flexbox();
          @include flex-direction(column);
          // @include justify-content(space-between);
          height: 100%;
          position: relative;
          .col-product-badge-msg{
            position: absolute;
            left: 0;
            padding: 2px 5px;
            text-transform: uppercase;
            font-family: $futura_bt;
            display: inline-block;
            z-index: 2;
            font-size: 13px;
            top: -23px;
          }
          .img-link {
            height: 100%;
            width: 100%;
            display: block;
          }
          .img {
            border: 1px solid rgba(0, 0, 0, 0.15);
            position: relative;
            margin-bottom: 10px;
            @include flexbox();
            @include justify-content(center);
            @include  align-items(center);
            @include mq('lap-and-up'){
              &:hover {
                .alter-image {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            .col-product-dis-badge-msg{
              position: absolute;
              padding: 2px;
              text-transform: uppercase;
              font-family: FuturaBT;
              font-size: 13px;
              top: 10px;
              border-radius: 100%;
              background: #ba0c2f;
              color: #fff;
              z-index: 3;
              right: 10px;
              width: 60px;
              height: 60px;
              @include flexbox();
              @include justify-content(center);
              @include  align-items(center);
              text-align: center;
              @include mq('phone'){
                font-size: 10px;
                width: 42px;
                height: 42px;
                top: 7px;
                right: 7px;
              }
            }
           
            img {
              width: 100%;
              max-width: 100%;
              height: auto;
            }
            .alter-image {
              opacity: 0;
              visibility: hidden;
              transition: 0.3s all;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              height: 100%;
              z-index: 1;
              background: #fff;
              width: 100%;
              object-fit: cover;
            }
          }
          .product-info {
            .product-title-details {
              @include flexbox();
              @include justify-content(space-between);
              margin-bottom: 12px;
              @include mq('phone'){
                @include flex-wrap(wrap);
              }
              .product-title {
                width: calc(100% - 72px);
                font-size: 14px;
                font-family: $futura_book;
                text-transform: uppercase;
                padding-right: 15px;
                letter-spacing: normal;
                @include mq('phone'){
                  width: 100%;
                  padding: 0;
                }
                a {
                  display: block;
                }
              }
              .product-review {
                max-width: 72px;
                .okeReviews-reviewsSummary-ratingCount {
                  display: none;
                }
              }
            }
            .product-short-info {
              font-size: 14px;
              font-family: $futura_bt;
              margin-bottom: 10px;
              @include mq('phone'){
                font-size: 12px;
              }
            }
            .variants-details-block{
              display: none;
              // opacity: 0;
              // visibility: hidden;
              .single-add-to-cart{
                display: block;
              }
              .variants-details {
                @include flexbox();
                @include justify-content(space-between);
                @include flex-direction(column);
                ul.swatch-wrap {
                  margin-bottom: 5px;
                  @include flexbox();
                  @include justify-content(left);
                  @include flex-wrap(wrap);
                  &.review-swatch-wrap {
                    @include justify-content(flex-start);
                  }
                  li.swatch-element {
                    min-width: auto;
                    min-height: auto;
                    cursor: pointer;
                    border: none;
                    margin-right: 8px;
                    border: 2px solid transparent;
                    margin-bottom: 5px;
                    &.color {
                      padding: 0;
                    }
                    &.active {
                      border: 2px solid $color_navy;
                    }
                    label {
                      width: 20px;
                      height: 20px;
                      display: block;
                      cursor: pointer;
                      border: none;
                      span {
                        font-size: 0;
                      }
                    }
                  }
                }
              }
            }
            .add-to-cart, a.button{
              width: 100%;
              border: 1px solid $color_navy;
              background: $color_navy;
              height: 36px;
              color: $color_white;
              @include mq('phone'){
                font-size: 11px !important;
                padding: 8px 0;
              }
              &:hover {
                border: 1px solid $color_navy;
                background: $color_navy;
                color: $color_white;
              }
            }
            .soldout{
              width: 100%;
            }
            a{
              &.button{
                background: $color_navy;
                width: 100%;
                &:hover {
                  border: 1px solid $color_navy;
                  background: $color_navy;
                  color: $color_white;
                }
              }
            }
          }
        }
      }
    }
    .collection-list-imagee-with-text{
      .collection-list-imagee-with-text-data{
        max-width: 1200px;
        margin: 0 auto;
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        background: #E0B39E;
        list-style: none;
        li{
          padding: 0;
          .img{
            position: relative;
            img{
              width: 100%;
              max-width: 100%;
              height: auto;
              display: block;
            }
            .info{
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              text-align: center;
              color: $color_white;
              font-size: 40px;
              font-family: $antro_vectra_fonts;
              @include transform(translateY(-50%));
            }
          } 
          .text{
            padding: 15px;
            .text-wrap{
              max-width: 380px;
              margin: 0 auto;
              h3{
                font-size: 48px;
                font-family: $font_FreightDisp;
                margin-bottom: 38px;
                line-height: 60px;
                letter-spacing: 2.2px;
                font-weight: 500;
                @include mq('phone'){
                  font-size: 28px;
                  line-height: 1.2;
                }
              }
              .btn{
                background: $color_navy;
                color: $color_white;
                width: 100%;
                padding: 10px;
                display: block;
                height: auto;
                font-size: 18px;
                font-family: $futura_book;
              }
            }
          }
        }
      }
    }
    .collection-main-description {
      margin-bottom: 65px;
      background: #f3e9e2;
      padding: 65px 15px;
      .description-content {
        max-width: 768px;
        text-align: center;
        margin: 0 auto;
        font-family: $futura_bt;
        font-size: 18px;
        line-height: 25px;
      }
    }
    .collection-footer-image {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto 75px;
      .images-list {
        @include flexbox();
        @include flex-wrap(wrap);
        list-style: none;
        margin: 0 -15px;
        @include mq('phone'){
          margin: 0 -5px;
        }
        li {
          padding: 0 15px;
          width: calc(100% / 6);
          @include mq('phone'){
            width: 50%;
            padding:  0 5px;
            margin-bottom: 10px;
          }
          a{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            &:after{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.5);
              z-index: 1;
              content: '';
            }
          }
          .text{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 90%;
            margin: 0 auto;
            @include transform(translateY(-50%));
            z-index: 2;
            color: $color_white;
            font-family: $font_FreightDisp;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            line-height: 1.2;
          }
          img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }
}
