.shop-by-look-categories{
    .category-list{
        .shop-product-reviews-wrap {
            max-width: 1170px;
            margin: 0 auto;
            margin-bottom: 60px;
            @include mq('tab-and-down'){
                position: sticky;
                top: 0;
                z-index: 9;
                background: #fff;
                padding-top: 15px;
            }
            .list-slide-title{
                position: relative;
                line-height: 1;
                border: none;
                margin-bottom: 25px;
                span{
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                }
                &:after{
                    position: absolute;
                    content: '';
                    border-bottom: 1px solid #c4c4c4;
                    left: 0;
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
            .swiper{
                @include mq("tab-and-down") {
                    padding: 0;
                    padding-left: 15px;
                }
            }
            .swiper-block-wrapper{
                position: relative;
                &.slides{
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    white-space: nowrap;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    overflow-y: hidden;
                    -webkit-transform: translate3d(0, 0, 0);
                    text-align: center;
                    > .category-item {
                        display: inline-block;
                        width: 125px;
                        vertical-align: top;
                        float: none;
                        margin: 0 15px;
                        white-space: break-spaces;
                        @include mq('phone'){
                            margin: 0 5px;
                            width: calc(24% - 10px);
                        }
                    }
                }
                .swiper-button-prev{
                    background: url(https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Vector_7.png?v=1652297082);
                    width: 22px;
                    height: 38px;
                    background-repeat: no-repeat;
                    left: -30px;
                }
                .swiper-button-next{
                    background: url(https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Vector_5.png?v=1652297058);
                    width: 22px;
                    background-repeat: no-repeat;
                    height: 38px;
                    right: -30px;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    &:after{
                        display: none;
                    }
                  @include mq('phone'){
                      display: none;
                  }
                }
            }
            .category-item{
                text-align: center;
                .category-icon{
                    display: inline-block;
                    text-align: center;
                    outline: none;
                    img {
                        margin-bottom: 10px;
                        cursor: pointer;
                        border-radius: 100%;
                        max-width: 124px;
                        @include mq("tab-and-down") {
                            max-width: 80px;
                        }
                    }
                    .category-name {
                        @include mq("tab-and-down") {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}