<div class="logos-cont logos-left">
    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/CF-Vegan-Logo_RGB_150-tight-06_3db209fb-3203-41db-a778-7179ff320008_256x256_crop_center.png">
  <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/CLEAN_646f24c6-4c8f-4242-8bb7-513a1bfe5497_256x256_crop_center.png">
  <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/REFILLABLE_77080f66-a4ea-4266-839c-3a129fcbdaf6_256x256_crop_center.png">
      <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/ITALY_b979c356-6895-4ccc-9b46-dda14bd39848_256x256_crop_center.png">
      <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/RECYCLED_dd44e051-7ab3-40b3-83be-962894fe3335_256x256_crop_center.png">
  <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Certified_Carbonfree_-_B_W_0b153142-e476-4a2b-b53b-c0c9146e19e4_256x256_crop_center.png">
 
  </div>
