<section class="slides-logo">
    <div class="page-width ">
        <div class="slides-wrapper swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide slide-single">
                        {% if block.settings.image_logo %}
                            <img src="{{ block.settings.image_logo | img_url: 'medium' }}" alt="{{ shop.name }}">
                        {% endif %}
                        <div class="slide-single__content">
                            {{ block.settings.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
      
      <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
      <svg width="16" height="56" viewBox="0 0 16 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.67055 55.0009L15.3606 28.4149C15.3666 28.4029 15.3646 28.3899 15.3706 28.3779C15.3916 28.3269 15.3976 28.2759 15.4076 28.2259C15.4156 28.1809 15.4276 28.1379 15.4276 28.0949C15.4276 28.0479 15.4156 28.0029 15.4076 27.9539C15.3976 27.9049 15.3876 27.8539 15.3706 27.8079C15.3646 27.7959 15.3666 27.7829 15.3606 27.7689L2.67055 1.18487C2.49055 0.810871 2.04455 0.65287 1.67055 0.830872C1.40055 0.959873 1.24255 1.22787 1.24255 1.50887C1.24255 1.61587 1.26555 1.72687 1.31655 1.83087L13.8536 28.0929L1.31755 54.3549C1.26855 54.4599 1.24555 54.5699 1.24555 54.6769C1.24555 54.9559 1.40155 55.2259 1.67255 55.3549C2.04455 55.5319 2.49155 55.3759 2.67055 55.0009Z" fill="#F9EBE3" stroke="#F9EBE3"/>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="16" height="56" viewBox="0 0 16 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.67055 55.0009L15.3606 28.4149C15.3666 28.4029 15.3646 28.3899 15.3706 28.3779C15.3916 28.3269 15.3976 28.2759 15.4076 28.2259C15.4156 28.1809 15.4276 28.1379 15.4276 28.0949C15.4276 28.0479 15.4156 28.0029 15.4076 27.9539C15.3976 27.9049 15.3876 27.8539 15.3706 27.8079C15.3646 27.7959 15.3666 27.7829 15.3606 27.7689L2.67055 1.18487C2.49055 0.810871 2.04455 0.65287 1.67055 0.830872C1.40055 0.959873 1.24255 1.22787 1.24255 1.50887C1.24255 1.61587 1.26555 1.72687 1.31655 1.83087L13.8536 28.0929L1.31755 54.3549C1.26855 54.4599 1.24555 54.5699 1.24555 54.6769C1.24555 54.9559 1.40155 55.2259 1.67255 55.3549C2.04455 55.5319 2.49155 55.3759 2.67055 55.0009Z" fill="#F9EBE3" stroke="#F9EBE3"/>
      </svg>
	</div>
      
    </div>
    

    <script>
        const swiperLogo = new Swiper('.slides-wrapper ', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.slides-logo .swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.slides-logo .swiper-button-next',
            prevEl: '.slides-logo .swiper-button-prev',
        },
        breakpoints: {
            // when window width is >= 320px
            320: {
            slidesPerView: 1,
            spaceBetween: 20
            },
            // when window width is >= 480px
            480: {
            slidesPerView: 2,
            spaceBetween: 30
            },
            // when window width is >= 640px
            640: {
            slidesPerView: 3,
            spaceBetween: 40
            }
        }
        
        });
    </script>
</section>

{% schema %}
{
    "name": "Slides Logo",
    "class": "slide-logo-section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title Section"
        }
    ],
    "blocks": [
        {
            "type": "Slide", 
            "name": "Slide single",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_logo",
                    "label": "Image Logo"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name":"Slide Logo"
        }
    ]
}
{% endschema %}